dist/*
build/*
*.class
*.pyc
*.log
*.log*
*.new
*.old
*.org
*.bak
*.back
*.ecp
*.cache
*.out
*.exe
*.EXE
*.o
*.obj
*.OBJ
*.a
*.s
*.zip
*.gz
*.bz2
*.tgz
*.tbz
*.tar
*.tar.bz2
*.tar.gz
*~*
temp*
test-output/*
test/htdocs.jar
